{% extends 'base.html' %}
{% load static %}
{% block title %}Restablecimiento de contraseña enviado{% endblock %}
{% block content %}

<div class="container">
  <!-- Outer Row -->
  <div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col"></div>
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-2">Restablecimiento de contraseña enviado! </h1>
                <hr>
                <p class="mb-2">Le hemos enviado por email las instrucciones para restablecer la contraseña, si es que
                  existe una cuenta con la dirección electrónica que indicó. Debería recibirlas en breve.</p>
                <p class="mb-2">Si no recibe un correo, por favor asegúrese de que ha introducido la dirección de
                  correo con la que se registró y verifique su carpeta de spam.</p>
              </div>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}