{% extends 'base.html' %}
{% load static %}
{% block title %}Escriba la nueva contraseña{% endblock %}
{% block content %}
<style>
  .errorlist {
    color: red;
  }
</style>
<div class="container">
  <!-- Outer Row -->
  <div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col">

              <div class="p-5">
                <div class="text-center">
                  {% if validlink %}
                  <h1 class="h4 text-gray-900 mb-2">Escriba la nueva contraseña</h1>
                  <hr>
                  <p class="mb-4">Por favor, introduzca su contraseña nueva dos veces para verificar que la ha escrito
                    correctamente.</p>
                </div>

                <form class="user" method="POST"> {% csrf_token %}
                  {{form.new_password1.errors}}
                  <div class="form-group">
                    <input type="password" name="new_password1" required="" id="id_new_password1"
                      class="form-control form-control-user" placeholder="Introduce la nueva contraseña">
                  </div>
                  {{form.new_password2.errors}}
                  <div class="form-group">
                    <input type="password" name="new_password2" required="" id="id_new_password2"
                      class="form-control form-control-user" placeholder="Repite la nueva contraseña">
                  </div>
                  <input type="submit" class="btn btn-primary btn-user btn-block" value="Cambiar mi contraseña">
                </form>

                {% else %}
                <h1 class="h4 text-gray-900 mb-2">Restablecimiento de contraseñas fallido</h3>
                  <hr>
                  <p class="mb-4">El enlace de restablecimiento de contraseña es inválido, seguramente porque se haya
                    usado antes. Por favor, solicite un nuevo restablecimiento de contraseña <a
                      href="{% url 'password_reset' %}">aquí</a>.</p>
                  <hr>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}