{% extends 'base.html' %}
{% load static %}
{% block title %}¿Olvidaste tu contraseña?{% endblock %}

{% block content %}

<style>
  .errorlist {
    color: red;
  }
</style>

<div class="row mt-3">
  <div class="col-md-9 mx-auto mb-5">
    <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
      <div class="row">
        <!-- Previa del avatar -->
        <div class="col-md-2">
          {% if request.user.profile.avatar %}
          <img src="{{request.user.profile.avatar.url}}" class="img-fluid">
          <p class="mt-1">¿Borrar? <input type="checkbox" id="avatar-clear" name="avatar-clear" /></p>
          {% else %}
          <img src="{% static '/img/no-avatar.png'%}" class="img-fluid">
          {% endif %}
        </div>
        <!-- Formulario -->
        <div class="col-md-10">
          <div class="text-center">
            <h1 class="h4 text-gray-900 mb-4">Perfil </h1>
          </div>
          <input type="file" name="avatar" class="form-control-file mb-2" id="id_avatar">
          {{ form.fecha_nacimiento }}
          {{ form.biografia }}
          {{ form.link }}
          <input type="email" value="{{request.user.email}}" class="form-control mt-2" readonly>
          <input type="submit" class="btn btn-primary btn-user btn-block mt-2" value="Actualizar">
          <hr>
          <div class="text-center">
            <a class="small" href="{% url 'profile_email' %}">¡Editar email!</a>
          </div>
          <div class="text-center">
            <a class="small" href="{% url 'password_change' %}">¡Cambiar contraseña!</a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block js_page %}
<script>
  $(document).ready(function () {
    $('#id_fecha_nacimiento').Zebra_DatePicker();
  });

</script>

{% endblock js_page %}